*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  user-select: none;
}

a{
  text-decoration: none;
  outline: none;
  color: black;
}

